.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: lighten(hotpink, 20%);
    transition: right 0.33s cubic-bezier(0.64, 0.08, 0.29, 0.95);
    overflow-y: scroll;
    z-index: 1;

    &.is-expanded {
        right: 0%;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__wrapper {
        padding: 60px 10px 10px;
        height: 100%;
    }

    &__header {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 8px;
        border-bottom: 2px solid #000;
    }

    &__overview {
        margin-top: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        row-gap: 30px;
        margin-bottom: 30px;
    }

    &__summary {
        border-top: 2px solid #000;
        margin-bottom: 30px;
    }

    &__sum {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    &__total {
        font-weight: bold;
        margin-top: 16px;
    }

    &__order-button {
        appearance: none;
        border: none;
        background-color: #000;
        color: #fff;
        width: 100%;
        padding: 16px;
        text-transform: uppercase;
        font-weight: bold;
        transition: transform 0.2s;

        &:active {
            transform: scale(0.966);
        }

        &:disabled {
            opacity: 0.5;
            cursor: initial;
        }
    }
}

.cart-list-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 10px;

    &__summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__title,
    &__price {
        font-weight: bold;
    }

    &__control {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__button {
        appearance: none;
        width: 20px;
        height: 20px;
        border: none;
        line-height: 20px;
        box-shadow: 0px 0px 0px 1px hotpink;
        transition: transform 0.2s;

        &:active {
            transform: scale(0.95);
        }

        &--pri {
            background-color: hotpink;
            color: #fff;
        }

        &--sec {
            background-color: #fff;
            color: hotpink;
        }
    }

    &__quantity {
        padding: 0 10px;
        font-size: 14px;
    }
}
