.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: lighten(hotpink, 20%);
    transition: transform 0.33s cubic-bezier(0.64, 0.08, 0.29, 0.95);
    overflow-y: scroll;
    z-index: 1;
    transform: translateX(100%);

    @media (min-width: 768px) {
        width: 320px;
    }

    &.is-expanded {
        transform: translateX(0);
    }

    &__close-button {
        appearance: none;
        width: 36px;
        height: 36px;
        border: 2px solid #000;
        background-color: lighten(hotpink, 20%);
        cursor: pointer;
    }

    &__wrapper {
        padding: 20px;
        height: 100%;
    }

    &__header {
        padding: 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: #000;
        font-size: 24px;
        font-weight: bold;
    }

    &__overview {
        margin-top: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        row-gap: 30px;
        margin-bottom: 30px;
    }

    &__summary {
        border-top: 2px solid #000;
        margin-bottom: 30px;
    }

    &__sum {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    &__total {
        font-weight: bold;
        margin-top: 16px;
    }

    &__order-button {
        appearance: none;
        border: none;
        background-color: #000;
        color: #fff;
        width: 100%;
        padding: 16px;
        text-transform: uppercase;
        font-weight: bold;
        transition: transform 0.2s;
        cursor: pointer;

        &:active {
            transform: scale(0.966);
        }

        &:disabled {
            opacity: 0.5;
            cursor: initial;
        }
    }
}

.cart-list-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 10px;

    &__summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__title,
    &__price {
        font-weight: bold;
    }

    &__control {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__button {
        appearance: none;
        width: 20px;
        height: 20px;
        border: none;
        line-height: 20px;
        box-shadow: 0px 0px 0px 1px hotpink;
        transition: transform 0.2s;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }

        &--pri {
            background-color: hotpink;
            color: #fff;
        }

        &--sec {
            background-color: #fff;
            color: hotpink;
        }
    }

    &__quantity {
        padding: 0 10px;
        font-size: 14px;
    }
}

.cart-order-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;

    &__summary {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__summary-item {
        margin-bottom: 8px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        & > span:last-child {
            font-weight: bold;
        }
    }
}
